* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.App {
  height: 100vh;
  display: flex;
}
/*Landing*/
.landing {
  height: inherit;
  width: 100vw;

  text-align: center;
}
.landing-info {
  padding: 150px;
}
.landing-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 20px;
  color: #0f0f09;
}
.landing-subtitle {
  font-size: 1.5rem;
  margin: 25px;
  color: #0f0f09;
}
nav {
  display: flex;
  justify-content: space-between;
}

.logo-land {
  font-size: 1.5rem;
  font-weight: 400;
  color: #bc412b;
  margin: 15px;
}
.login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-btn {
  font-size: 1.2rem;
  color: #bc412b;
  background-color: white;
  border: none;
}
.login-btn:hover {
  color: #645e70;
}
.register-btn {
  background-color: #bc412b;
  color: white;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 7px;

  margin-right: 10px;
  border: none;
}

.register-btn2 {
  background-color: #bc412b;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 8px;
  border: none;
}

.register-btn:hover {
  background-color: #403c4b;
}

.register-btn2:hover {
  background-color: #403c4b;
}

/**Login && Registration**/
.Login,
.Registration {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
}

.Registration {
  display: flex;
  flex-direction: column;
}

.register-form-container {
  border-radius: 10px;
  text-align: center;
}
.register-form-container {
  color: #2d2936;
}
.login-form-container h2 {
  color: #2d2936;
}

.Login form {
  margin: 10% auto 0 auto;
  padding: 50px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.Login form label {
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Login form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}

.Login input[type="submit"] {
  padding: 15px 50px;
  width: auto;
  background-color: #bc412b;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.Login input[type="submit"]:hover {
  background-color: #ed6a5a;
}

.Registration form {
  margin: 10% auto 0 auto;
  padding: 50px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.Registration form label {
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Registration form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}

.Registration input[type="submit"] {
  padding: 15px 50px;
  width: auto;
  background-color: #bc412b;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.Registration input[type="submit"]:hover {
  background-color: #ed6a5a;
}

/**Home**/

.Home {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.Main {
  flex: 8;
  height: inherit;
  width: calc(100% - 355px);
}

/**Profile**/

.Profile {
  flex: 85%;
  height: calc(100% - 101px);
  padding: 0px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
}

.Profile h1 {
  margin: 0px;
}

.Profile {
  text-align: center;
}
.Profile button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #bc412b;
  color: white;
}
.Profile button:hover {
  background-color: #ed6a5a;
}
.user-pass {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-pass h4 {
  color: #bc412b;
}
.user {
  text-align: center;
}

.user div {
  margin: 5px;
}

.pass {
  text-align: center;
}

.pass div {
  margin: 5px;
}

.hamburger-menu {
  display: none; /* Hidden by default for larger screens */
  cursor: pointer;
}

/** Sidebar **/
.Sidebar {
  flex: 2;
  width: 30%;

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  background-color: rgb(245, 244, 243);
}

.logo {
  flex: 30%;

  font-size: bold;
}
.logo span {
  font-size: 0.9rem;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.add-btn {
  flex: 10%;
}

.sidebar-links {
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Header {
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  padding: 5px 25px;
}

.profile-link {
}

.search-div {
  flex: 90%;
  max-width: 500px;
  height: 40px;
  padding: 0px;

  display: flex;
  border-radius: 40px;
  border: 1px solid gray;
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px;
  border: none;
}
#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
}
#search-btn:hover {
  background-color: rgb(216, 216, 216);
}

.Addrecipe {
  grid-column: 1/6;
  grid-row: 1/2;
}

.Add-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Add-div button {
  padding: 15px 30px;
}

.cat-add {
  display: flex;
  justify-content: end;
}

.Form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div form {
  margin: 0 auto 0 auto;
  padding: 25px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background-color: white;
}

/*DisplayRecipes*/
.DisplayRecipes {
  height: calc(100% - 101px);
  width: 100%;
}

.DisplayRecipes .recipes-div {
  height: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  overflow: scroll;
}
.DisplayRecipes .item {
  width: 250px;
  height: 200px;
  margin: 5px 0px;

  word-wrap: break-word;
  background-color: white;
}

.Recipecard {
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.Recipecard .img {
  height: 70%;
  background-color: gray;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  position: relative;
}

.Recipecard .img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.cook-time {
  background-color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.Recipecard h3 {
  margin: 0px;
}
.Recipecard p {
  margin: 0px;
}
.Recipe {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;
}
.category-prep-cook-serve {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.recipe-info h1 {
  margin: 0px;
}
@media (max-width: 700px) {
  .Header {
    flex-direction: column-reverse;
  }
  .ham-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .search-div {
    width: 100%;
  }

  .Main {
    width: 100%;
  }

  .hamburger-menu {
    display: block;

    z-index: 2;
  }

  .Sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 80%;

    padding-top: 6rem;

    align-items: center;
    text-align: center;
    background-color: #4d4ddb;
    color: white;

    transition: 0.15s ease-in-out;
  }

  .Sidebar.active {
    left: 0;
  }
}
